In [5]:
a = 10
b = 10.5
c = "Hello World"
d = True
print(a)
print(b)
print(c)
print(d)

10
10.5
Hello World
True

In [7]:
print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))

10 <class 'int'>
10.5 <class 'float'>
Hello World <class 'str'>
True <class 'bool'>

In [8]:
# Strings
# c = 'Hello World'

# c = "Hello World"

# c = '''Hello World'''


a = ('10')
print(a)

10

In [9]:
# concatenation
a = '5'
b = '3'
c = a+b  # convert into integer    c = int(a)+int(b)
print(c)

53

In [11]:
# Operators(+,-,*,/,%,**,//)
a = 20
b =10
c=a+b
print(c)

30

In [2]:
# % modulas
a = 13
b = 4
c = a%b  # remainder
print(c)

1

In [12]:
a = 10
b =20
c=a-b
print(c)

-10

In [13]:
a = 10
b =20
c=a*b
print(c)

200

In [3]:
a = 11
b =5
c=a/b
print(c)

2.2

In [5]:
a = 27
b = 5
c = a//b
print(c)

5

In [19]:
# ** power
a = 2
b = 5
c = a**b
print(c)

32

In [21]:
r = 5
a = 3.14*r*r
print(a)

78.5

In [ ]:
# Type casting / Data Type Conversion

In [31]:
a = "10"
b = int(a)
print(a)
print(type(b))

10
<class 'int'>

In [5]:
a = 10.5
b = str(a)
print(b)
print(a,type(b))

10.5
10.5 <class 'str'>

In [8]:
a = "10"
b = float(a)
print(b)
print(type(b))

10.0
<class 'float'>

In [ ]:
# Basic I/O

In [6]:
a = input()
print(a)

10
10

In [33]:
a = input("Enter the value of a = ")
b = input("Enter the value of b = ")
c = a+b
print(c)

Enter the value of a = 5
Enter the value of b = 10
510

In [34]:
a =int(input("Enter the value of a = "))
b = int(input("Enter the value of b = "))
c = a+b
print(c)

Enter the value of a = 10
Enter the value of b = 5
15

In [38]:
a = input("Enter the value of a = ")
b = input("Enter the value of b = ")
c = int(a)+int(b)
print(c)

Enter the value of a = 5
Enter the value of b = 5
10

In [41]:
p = float(input("Enter the value of p = "))
t = float(input("Enter the value of t = "))
r = float(input("Enter the value of r = "))
i = p*t*r/100
print("The value of i = ",i)

Enter the value of p = 2000
Enter the value of t = 3.5
Enter the value of r = 10.5
The value of i =  735.0

In [1]:
# google classroom, dterusy

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [11]:
a = 10
for i in range(a):
    print(i,"Hello Bijay")

0 Hello Bijay
1 Hello Bijay
2 Hello Bijay
3 Hello Bijay
4 Hello Bijay
5 Hello Bijay
6 Hello Bijay
7 Hello Bijay
8 Hello Bijay
9 Hello Bijay