In [6]:
# for loop
# range(5)    (0,1,2,3,4) 
# range(1,5) (1,2,3,4)
# range(1,5,2) (1,3)

for i in range(1,5):
    print(i)

1
2
3
4

In [8]:
for i in range(0,5,2):
    print(i)

0
2
4

In [7]:
for i in range(5):
    print(i, "Hello world")

0 Hello world
1 Hello world
2 Hello world
3 Hello world
4 Hello world

In [9]:
for i in range(1,5,2):
    print(i, "Hello world")

1 Hello world
3 Hello world

In [13]:
n = int(input("Entern = "))
for i in range(1,11):
    print(n*i)

Entern = 5
5
10
15
20
25
30
35
40
45
50

In [14]:
n = 4
for i in range(1,11):
    print(n*i)

4
8
12
16
20
24
28
32
36
40

In [15]:
# table 
n = int(input("Entern = "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Entern = 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [17]:
#table
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    print(x)

Enter n = 5
Enter x = 1
1
Enter x = 2
2
Enter x = 3
3
Enter x = 4
4
Enter x = 5
5

In [1]:
# multiple time
s = 0
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s+x
    
    print(s)

Enter n = 5
Enter x = 2
2
Enter x = 2
4
Enter x = 4
8
Enter x = 5
13
Enter x = 5
18

In [2]:
# multiple time
s = ""
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    s = s+x
    
    print(s)

Enter n = 5
Enter x = b
b
Enter x = i
bi
Enter x = j
bij
Enter x = a
bija
Enter x = y
bijay

In [3]:
# multiple time
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    
    s = s+name+" "+phone+"\n"
    
    print(s)

Enter n = 2
Enter name = bijay
Enter phone = 9806934505
bijay  9806934505

Enter name = pintu
Enter phone = 9814444332
bijay  9806934505
pintu 9814444332

In [1]:
# factorial
#5! = 1*2*3*4*5
fac = 1
n = int(input("Enter n = "))
for i in range(1,n+1):
    fac = fac*i
print(fac)

Enter n = 5
120

In [2]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [1]:
for i in range(5,0,-1):
    print(i,"Hello Bijay")

5 Hello Bijay
4 Hello Bijay
3 Hello Bijay
2 Hello Bijay
1 Hello Bijay

In [2]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter n = 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [4]:
a = "BIJAY"
x = 0
for i in a:
    x += 1
    print(a[0:x])

B
BI
BIJ
BIJA
BIJAY

In [ ]:
# Assignment
# 1, write a program to create a billing system
# name 
# price
# qty
# total
# alltotal

# 2, WAP to create a result management system
# name 
# subjects
# total 
# per
# grade

In [9]:
# 1+2+3+4+5
fac = 0
n =int(input("Enter n = "))
for i in range(1,n+1):
    fac = fac+i
    print(fac)

Enter n = 5
1
3
6
10
15

In [11]:
fac = 1
n =int(input("Enter n = "))
for i in range(1,n+1):
    fac = fac*i
    print(fac)

Enter n = 5
1
2
6
24
120