In [2]:
# string

In [3]:
a = 'Hello'
b = "Hello"
c = '''Hello'''
print(a,b,c)
print(a,type(a))

Hello Hello Hello
Hello <class 'str'>

In [4]:
a = "Hello"
b = "World"
c = a+b
print(c)

HelloWorld

In [5]:
a = int('10')
a

10

In [6]:
a = "Hello World"  #index wise print
a[0]

'H'

In [7]:
a = "Hello World"
b = a[0:5]
print(b)

Hello

In [8]:
a = "Hello World"
b = a[0:10:2]
print(b)

HloWr

In [9]:
a = "Hello World"
b = a[10:0:-1]
b

'dlroW olle'

In [10]:
a = "Hello World"
b = a[:0:-1]
b

'dlroW olle'

In [11]:
a = "Hello World"
b = a[::-1]
b

'dlroW olleH'

In [12]:
# string formatting

name = "Bijay"
age = 23
data = f"Hello my name is {name}. I am {23}."
print(data)

Hello my name is Bijay. I am 23.

In [13]:
name = input("enter name")
age = int(input("Enter age "))
add = input("Enter Address")
data = f"Hello my name is {name}. I am {age}. I am from {add}."
data

enter namebijay
Enter age 23
Enter Addressmayadevi-2

'Hello my name is bijay. I am 23. I am from mayadevi-2.'

In [14]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name ")
    price = int(input("enter price "))
    quantity = int(input("Enter quantity"))
    total = price *quantity
    bill = f"{name} {price} {quantity} {total} \n"  # \n --> next line
    s = s+bill
print(s)

Enter n = 2
Enter name apple
enter price 200
Enter quantity5
Enter name banana
enter price 160
Enter quantity12
apple 200 5 1000
banana 160 12 1920

In [15]:
s = "ram Hari Gita"
for i in s:
    print(i)

r
a
m

H
a
r
i

G
i
t
a

In [16]:
s = "ram Hari Gita"
for i in s:
    print(i, end ="")  # end = ""--> horizontally print

ram Hari Gita

In [17]:
s = "ram Hari Gita"
if "ram" in s:
    print("Yes")
else:
    print("No")

Yes

In [18]:
s = "ram Hari Gita Ramesh" 
search = input("Enter s = ")
if search in s:
    print("Yes")
    print(s.count(search))   #sequence of character print
else:
    print("No")

Enter s = ram
Yes
1

In [19]:
# .lower()
# .upper()
# .count()
# .replace() 
# .split()  ---> convert into list
# .title()  --> first letter capital

In [20]:

s = "Ram Hari Gita Ramesh"
print(s.upper())
print(s)

RAM HARI GITA RAMESH
Ram Hari Gita Ramesh

In [21]:
s = "ram Hari Gita Ramesh"
print(s.lower())
print(s)

ram hari gita ramesh
ram Hari Gita Ramesh

In [22]:
a = 'ram hari sita ramesh'
a.title()

'Ram Hari Sita Ramesh'

In [23]:
s = "ram Hari Gita Ramesh"
s = s.lower()
print(s)

ram hari gita ramesh

In [24]:
#sequence of character print
#.count()
s = "ram Hari Gita Ramesh" .lower()
search = input("Enter s = ") .lower()
if search in s:
    print("Yes")
    print(s.count(search))
else:
    print("No")

Enter s = ram
Yes
2

In [25]:
# .replace()

s = "Ram Hari Gita Ramesh"
s = s.replace('Gita', 'Sita')
s

'Ram Hari Sita Ramesh'

In [26]:
s = "Ram Hari Gita Ramesh"
s = s.replace('Gita', '')
s

'Ram Hari  Ramesh'

In [27]:
# .split()
s = "ram Hari Gita Ramesh"
s.split()

['ram', 'Hari', 'Gita', 'Ramesh']

In [28]:
# practise