In [1]:
a = []
a.append('Apple')
a.append('Ball')
a

['Apple', 'Ball']

In [2]:
a = ['apple','ball']
a.append('dog')
a

['apple', 'ball', 'dog']

In [6]:
a = list()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    a.append(x)
print(a)

Enter n = 2
Enter x = apple
Enter x = ball
['apple', 'ball']

In [8]:
a = ['apple','ball']
a.insert(1,'cat')
a

['apple', 'cat', 'ball']

In [10]:
a = ['apple','ball']
b = ['cat','dog']
a.extend(b)
a

['apple', 'ball', 'cat', 'dog']

In [11]:
a = ['apple','ball','cat','dog']
del a[1]
a

['apple', 'cat', 'dog']

In [12]:
a = ['apple','ball','cat','dog']
del a[0:2]
a

['cat', 'dog']

In [13]:
a = ['apple','ball','cat','dog']
a.remove('ball')
a

['apple', 'cat', 'dog']

In [14]:
a = ['apple','ball','cat','dog','ball']
a.remove('ball')
a

['apple', 'cat', 'dog', 'ball']

In [16]:
a = ['apple','ball','cat','dog','ball']
a.count('ball')
for i in range(2):
    a.remove('ball')
a

['apple', 'cat', 'dog']

In [18]:
a = ['apple','ball','cat','dog','ball']
a.index('cat')

2

In [19]:
a = ['apple','ball','cat','dog','ball']
a.index('ball')

1

In [24]:
a = ['apple','ball','cat','dog','ball']
l = len(a)
for i in range(l):
    if a[i]=='ball':
        print(i)

1
4

In [25]:
a = ['apple','ball','cat','dog','ball']
l = len(a)
for i in range(l):
    if a[i]=='ball':
        print(i)
a

1
4

['apple', 'ball', 'cat', 'dog', 'ball']

In [32]:
a = ['apple','Ball','cat','dog','Ball']
b = []
x = input("Enter x = ")
y = input("Enter y = ")
for i in a:
    if i == x:
        b.append(y)
    else:
        b.append(i)
b

Enter x = Ball
Enter y = ball

['apple', 'ball', 'cat', 'dog', 'ball']

In [33]:
a = ['apple','Ball','cat','dog','Ball']
if 'apple' in a:
    print("yes",a.count('apple'))

yes 1

In [34]:
# wap to search any value inside a list

In [39]:
# List inside list (nested_list)

a = [['Ram',25,'ktm'],['Hari',30,'Btl'],['Sita',25,'pokhara']]
b = [[1,2,3],[4,5,6],[7,8,9]]
print(a)
print(b)
print(a[0])
a[0][1]

[['Ram', 25, 'ktm'], ['Hari', 30, 'Btl'], ['Sita', 25, 'pokhara']]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
['Ram', 25, 'ktm']

25

In [41]:
a = [['Ram',25,'ktm'],['Hari',30,'Btl'],['Sita',25,'pokhara']]
b = [[1,2,3],[4,5,6],[7,8,9]]
a.append(['Shyam',30,'bhw'])
print(a)
print(b)

[['Ram', 25, 'ktm'], ['Hari', 30, 'Btl'], ['Sita', 25, 'pokhara'], ['Shyam', 30, 'bhw']]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [45]:
a = [['Ram',25,'ktm'],['Hari',30,'Btl'],['Sita',25,'pokhara']]
a.insert(1,['Gita',25,'lalitpur'])
a.append(['Shyam',30,'bhw'])
print(a)

[['Ram', 25, 'ktm'], ['Gita', 25, 'lalitpur'], ['Hari', 30, 'Btl'], ['Sita', 25, 'pokhara'], ['Shyam', 30, 'bhw']]

In [46]:
for i in a:
    print(i)

['Ram', 25, 'ktm']
['Gita', 25, 'lalitpur']
['Hari', 30, 'Btl']
['Sita', 25, 'pokhara']
['Shyam', 30, 'bhw']

In [51]:
a = [['Ram', 25, 'ktm'], ['Gita', 25, 'lalitpur'], ['Hari', 30, 'Btl'], ['Sita', 25, 'pokhara'], ['Shyam', 30, 'bhw']]
search = input("Enter name = ")
for i in a:
    if search in i:
        print(i)

Enter name = Ram
['Ram', 25, 'ktm']

In [56]:
a[0]=['Ram',23,'kathmandu']
a

[['Ram', 23, 'kathmandu'],
 ['Gita', 25, 'lalitpur'],
 ['gita', 30, 'Btl'],
 ['Sita', 25, 'pokhara'],
 ['Shyam', 30, 'bhw']]

In [59]:
a = [['Ram', 25, 'ktm'], ['Gita', 25, 'lalitpur'], ['Hari', 30, 'Btl'], ['Sita', 25, 'pokhara'], ['Shyam', 30, 'bhw']]
a.index(['Hari', 30, 'Btl'])

2

In [ ]:
# wap to remove duplicate data list inside list

In [54]:
a[2][0]='gita'
a

[['Ram', 23, 'kathmandu'],
 ['Gita', 25, 'lalitpur'],
 ['gita', 30, 'Btl'],
 ['Sita', 25, 'pokhara'],
 ['Shyam', 30, 'bhw']]

In [1]:
# wap to create a matrix
# r = ?
# c = ?
# x = ?

In [3]:
print("Hello Bijay Welcome to my Game Zone")

playing = input("Do you want to play? ")

if playing.lower() != "yes":
    quit()

print("Okay! Let's play :)")
score = 0

answer = input("Do you like ice-cream ? ")
if answer.lower() == "yes":
    print('Correct!')
    score += 1
else:
    print("Incorrect!")

answer = input("Do you play cricket ? ")
if answer.lower() == "yes":
    print('Correct!')
    score += 1
else:
    print("Incorrect!")

answer = input("Do you like football ? ")
if answer.lower() == "no":
    print('Correct!')
    score += 1
else:
    print("Incorrect!")

print("congratulation  " + str(score) + " answer correct!")
print("congratulation You got " + str((score / 3) * 100) + "%.")

Hello Bijay Welcome to my Game Zone
Do you want to play? yes
Okay! Let's play :)
Do you like ice-cream ? no
Incorrect!
Do you play cricket ? yes
Correct!
Do you like football ? yes
Incorrect!
Hello mr. prem. Are you a virgin? yes
Incorrect!
You got 1 questions correct!
You got 25.0%.