In [1]:
# dictionary
# indexed
# Duplicate values
# Ordered
# Mutable

In [2]:
d = dict()
d = {}

In [3]:
d = {"a":"apple","b":"ball"}
d

{'a': 'apple', 'b': 'ball'}

In [5]:
d['a']

'apple'

In [6]:
d = {"a":"apple","b":"ball","A":"apple"}
d

{'a': 'apple', 'b': 'ball', 'A': 'apple'}

In [7]:
d = {"a":"apple","b":"ball","a":"cat"}
d

{'a': 'cat', 'b': 'ball'}

In [9]:
d = {"a":"apple","b":"ball"}
d['c']="cat"
d

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [10]:
d = {}
d['a'] = "apple"
d['b'] = "Ball"
d['c'] = "cat"
d

{'a': 'apple', 'b': 'Ball', 'c': 'cat'}

In [11]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    d[name] = phone
print(d)

Enter n = 2
Enter name = ram
Enter phone = 98000123654
Enter name = hari
Enter phone = 86541239
{'ram': '98000123654', 'hari': '86541239'}

In [12]:
d = {'ram': '98000123654', 'hari': '86541239'}
for i in d:
    print(i)

ram
hari

In [13]:
d = {'ram': '98000123654', 'hari': '86541239'}
for i in d.values():
    print(i)

98000123654
86541239

In [14]:
d = {'ram': '98000123654', 'hari': '86541239'}
for i in d.items():
    print(i)

('ram', '98000123654')
('hari', '86541239')

In [16]:
l = []
d = {'ram': '98000123654', 'hari': '86541239'}
for i in d.items():
    l.append(i)
print(l)

[('ram', '98000123654'), ('hari', '86541239')]

In [17]:
dict(l)

{'ram': '98000123654', 'hari': '86541239'}

In [18]:
d = {'ram': '98000123654', 'hari': '86541239'}
del d['ram']  #delete
d

{'hari': '86541239'}

In [21]:
# pop()
d = {'ram': '98000123654', 'hari': '86541239'}
c = d.pop('ram')
print(c)
print(d)

98000123654
{'hari': '86541239'}

In [22]:
# list inside dictionary
d = {'Ram': ['984563145','9847542996'],'shyam':['806934505','9825408894']}
d

{'Ram': ['984563145', '9847542996'], 'shyam': ['806934505', '9825408894']}

In [24]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = input("Enter ntc phone = ")
    ncell_phone = input("Enter ncell phone = ")
    d[name] = [ntc_phone,ncell_phone]
print(d)

Enter n = 2
Enter name = Ram
Enter ntc phone = 9847542996
Enter ncell phone = 9825408894
Enter name = Hari
Enter ntc phone = 9875463214
Enter ncell phone = 9806984568
{'Ram': ['9847542996', '9825408894'], 'Hari': ['9875463214', '9806984568']}

In [26]:
d = {'Ram': ['984563145','9847542996'],'shyam':['806934505','9825408894']}
d['Hari']= ['986574258','9875644252']
d

{'Ram': ['984563145', '9847542996'],
 'shyam': ['806934505', '9825408894'],
 'Hari': ['986574258', '9875644252']}

In [27]:
d = {'Ram': ['984563145','9847542996'],'shyam':['806934505','9825408894']}
d['Ram'].append('9875644252')
d

{'Ram': ['984563145', '9847542996', '9875644252'],
 'shyam': ['806934505', '9825408894']}

In [28]:
d = {'Ram': ['984563145','9847542996'],'shyam':['806934505','9825408894']}
del d['Ram'][0]
d

{'Ram': ['9847542996'], 'shyam': ['806934505', '9825408894']}

In [31]:
d = {'Name':['Ram','Shyam','Hari'],'Age':[25,30,35],'Add':['Kathmandu','Butwal','Pokhara']}
d

{'Name': ['Ram', 'Shyam', 'Hari'],
 'Age': [25, 30, 35],
 'Add': ['Kathmandu', 'Butwal', 'Pokhara']}

In [33]:
d = {'Name':['Ram','Shyam','Hari'],'Age':[25,30,35],'Add':['Kathmandu','Butwal','Pokhara']}
d['Name'].append('Gita')
d['Age'].append('20')
d['Add'].append('Lalitpur')
print(d)

{'Name': ['Ram', 'Shyam', 'Hari', 'Gita'], 'Age': [25, 30, 35, '20'], 'Add': ['Kathmandu', 'Butwal', 'Pokhara', 'Lalitpur']}

In [36]:
# dict inside list
l = [{'name':'Ram','age':'25','add':'Kathmandu'},{'name':'Hari','age':'20','add':'pokhara'},{'name':'Shyam','age':'29','add':'lalitpur'}]
l

[{'name': 'Ram', 'age': '25', 'add': 'Kathmandu'},
 {'name': 'Hari', 'age': '20', 'add': 'pokhara'},
 {'name': 'Shyam', 'age': '29', 'add': 'lalitpur'}]

In [37]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = input("Enter age = ")
    add = input("Enter add = ")
    d = {'name':name,'age':age,'add':add}
    l.append(d)
print(l)

Enter n = 2
Enter name = Ram
Enter age = 20
Enter add = ktm
Enter name = Hari
Enter age = 30
Enter add = pokhara
[{'name': 'Ram', 'age': '20', 'add': 'ktm'}, {'name': 'Hari', 'age': '30', 'add': 'pokhara'}]

In [40]:
l[0]['name'] = "sita"

In [39]:
del l[0]
l

[{'name': 'Hari', 'age': '30', 'add': 'pokhara'}]

In [42]:
# dict inside dict
d = {1:{'name':'ram','grade':'A'},2:{'name':'shyam','grade':'B'},3:{'name':'Sita','grade':'C'}}
print(d)

{1: {'name': 'ram', 'grade': 'A'}, 2: {'name': 'shyam', 'grade': 'B'}, 3: {'name': 'Sita', 'grade': 'C'}}