In [1]:
# file = open('<file_path>','<mode>')
# file.close()

In [2]:
# with open ('<file_name>','<mode>') as file:
#     <opertions>

In [3]:
# mode
# read -> 'r'
# create -> 'x'
# write -> 'w'
# append -> 'a'

In [15]:
# create file

try:
    file = open('new_file.txt','x')
    file.close()
except:
    print("The file is already created")

The file is already created

In [13]:
# Read file

file = open('new_file.txt','r')
x = file.read()
print(x)
print(type(x))
file.close()

1. Hello
2. Hello Python
3. Hello World
4. Hello Bijay
5. Hello Ram
<class 'str'>

In [14]:
n = int(input("Enter n = "))
x.split('\n')[n-1]

Enter n = 3

'3. Hello World'

In [16]:
with open('data.txt','w') as file:
    file.write("Hello Python")

In [18]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    s = s+f"{name} {age} {add}\n"
    
with open('data.txt','w') as file:
    file.write(s)

Enter n = 2
Enter name = ram
Enter age = 25
Enter address = ktm
Enter name = hari
Enter age = 26
Enter address = pokhara

In [19]:
pwd

'C:\\Users\\pc\\pythonclass'

In [20]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    bill = s+f"{name} {price} {quantity} {total}\n"
    s = s+bill
print(s)
    
with open('data.txt','w') as file:
    file.write(s)

Enter n = 2
Enter name = wai wai
Enter price = 200
Enter quantity = 5
Enter name = apple
Enter price = 100
Enter quantity = 3000
wai wai 200 5 1000
wai wai 200 5 1000
apple 100 3000 300000

In [29]:
with open('csv.write','w') as file:
    file.write("Hello Python")

In [22]:
# csv

s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    bill = s+f"{name},{price},{quantity},{total}\n"
    s = s+bill
print(s)
    
with open('data.txt','w') as file:
    file.write('name,Price,Quantity,Total\n')
    file.write(s)

Enter n = 2
Enter name = Apple
Enter price = 200
Enter quantity = 20
Enter name = Banana
Enter price = 160
Enter quantity = 10
Apple,200,20,4000
Apple,200,20,4000
Banana,160,10,1600

In [1]:
#csv file
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    bill = f"{name},{price},{quantity},{total}\n"
    s = s+bill
    
print(s)
with open('data.csv','w') as file:
    file.write('Name,Price,Quantity,Total\n')
    file.write(s)

Enter n = 2
Enter name = Apple
Enter price = 200
Enter quantity = 5
Enter name = Banana
Enter price = 160
Enter quantity = 12
Apple,200,5,1000
Banana,160,12,1920

In [2]:
# # pip install pandas

import pandas as pd
df = pd.read_csv('data.csv')
df

     Name  Price  Quantity  Total
0   Apple    200         5   1000
1  Banana    160        12   1920

In [4]:
import csv
a = [['Name','Price','Quantity','Total'],
     ['Momo',200,3,600],
     ['Coke',100,2,200]]
with open('bill.csv','w') as file:
    x = csv.writer(file)
    x.writerows(a)

In [5]:
import csv
data = []
with open('bill.csv','r') as file:
    reader = csv.DictReader(file)
    for i in reader:
        data.append(i)
        
data

[{'Name': 'Momo', 'Price': '200', 'Quantity': '3', 'Total': '600'},
 {'Name': 'Coke', 'Price': '100', 'Quantity': '2', 'Total': '200'}]

In [6]:
file = open('bill.csv','r')
x = file.read()
y = x.split('\n')
print(y)
file.close()

['Name,Price,Quantity,Total', '', 'Momo,200,3,600', '', 'Coke,100,2,200', '', '']

In [7]:
all_result = []
for i in y[0:-1]:
    all_result.append(i.split(','))
    
all_result

[['Name', 'Price', 'Quantity', 'Total'],
 [''],
 ['Momo', '200', '3', '600'],
 [''],
 ['Coke', '100', '2', '200'],
 ['']]

In [9]:
import csv
a = ['Pizza',200,4,800]
with open('bill.csv','a') as file:
    x = csv.writer(file)
    x.writerow(a)