In [1]:
# file = open('<file_path>','<mode>')
# file.close()

In [2]:
# with open('file_name>','<mode>') as file:
#     <operations>

In [3]:
# mode
# read -> 'r'
# create -> 'x'
# write -> 'w'
# append -> 'a'

In [6]:
try:
    file = open('new_file.txt','x')
    file.close()
except:
    print("The file is already created")

The file is already created

In [10]:
#Read file
file = open('new_file.txt','r')
x = file.read()
print(x)
print(type(x))
file.close()

1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World
7.Hello World
<class 'str'>

In [16]:
n = int(input("Enter n = "))
x.split('\n')[n-1]

Enter n = 2

['1.Hello World',
 '2.Hello World',
 '3.Hello World',
 '4.Hello World',
 '5.Hello World',
 '6.Hello World',
 '7.Hello World']

In [17]:
with open('data.txt','w') as file:
    file.write('Hello World')

In [18]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("age = "))
    add = input("Enter add = ")
    s = s+f"{name} {age} {add}\n"
    
with open('data.txt','w') as file:
    file.write(s)

Enter n = 2
Enter name = Ram
age = 78
Enter add = Kathmandu
Enter name = Shyam
age = 89
Enter add = Patan

In [19]:
pwd

'C:\\Users\\Aayush\\Class8am'

In [20]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    bill = f"{name} {price} {quantity} {total}\n"
    s = s+bill
    
print(s)
with open('data.txt','w') as file:
    file.write(s)

Enter n = 2
Enter name = Apple
Enter price = 300
Enter quantity = 2
Enter name = Banana
Enter price = 4
Enter quantity = 100
Apple 300 2 600
Banana 4 100 400

In [22]:
#csv file
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    bill = f"{name},{price},{quantity},{total}\n"
    s = s+bill
    
print(s)
with open('data.csv','w') as file:
    file.write('Name,Price,Quantity,Total\n')
    file.write(s)

Enter n = 2
Enter name = Momo
Enter price = 200
Enter quantity = 3
Enter name = Coke
Enter price = 100
Enter quantity = 2
Momo,200,3,600
Coke,100,2,200

In [23]:
#pip install pandas
import pandas as pd
df = pd.read_csv('data.csv')
df

   Name  Price  Quantity  Total
0  Momo    200         3    600
1  Coke    100         2    200

In [25]:
import csv
a = [['Name','Price','Quantity','Total'],
     ['Momo',200,3,600],
     ['Coke',100,2,200]]
with open('bill.csv','w') as file:
    x = csv.writer(file)
    x.writerows(a)

In [29]:
import csv
data = []
with open('bill.csv','r') as file:
    reader = csv.DictReader(file)
    for i in reader:
        data.append(i)
        
data

[{'Name': 'Momo', 'Price': '200', 'Quantity': '3', 'Total': '600'},
 {'Name': 'Coke', 'Price': '100', 'Quantity': '2', 'Total': '200'}]

In [38]:
file = open('data.csv','r')
x = file.read()
y = x.split('\n')
print(y)
file.close()

['Name,Price,Quantity,Total', 'Momo,200,3,600', 'Coke,100,2,200', '']

In [39]:
all_result = []
for i in y[0:-1]:
    all_result.append(i.split(','))
    
all_result

[['Name', 'Price', 'Quantity', 'Total'],
 ['Momo', '200', '3', '600'],
 ['Coke', '100', '2', '200']]

In [40]:
import csv
a = ['Pizza',200,4,800]
with open('bill.csv','a') as file:
    x = csv.writer(file)
    x.writerow(a)