In [1]:
!pip install mysql-connector

Collecting mysql-connector
  Using cached mysql-connector-2.2.9.tar.gz (11.9 MB)
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp39-cp39-win_amd64.whl size=247961 sha256=d563adec3aa4a7ef582080a44dac7e68ccbf2b8a319ef05cad8bac417b053c9f
  Stored in directory: c:\users\pc\appdata\local\pip\cache\wheels\7b\14\39\5aad423666e827dfe9a1fbcd111ac17171e7c9865d570780ce
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [30]:
import mysql.connector
#importing database
database = mysql.connector.connect(
host="localhost",
user="root",
password=""
)
db = database.cursor()

db.execute("CREATE DATABASE practice")

In [14]:
import mysql.connector
#importing database
database = mysql.connector.connect(
host="localhost",
user="root",
password="",
database='firstdb'
)
db = database.cursor()

In [13]:
db.execute("SELECT * FROM student")
result = db.fetchall()
for x in result:
    print(x)

(1, 'ram', 70.0, 55.0, 90.0, 70.0, 75.0, 300.0, 75.0, 'b')
(2, 'Shyam', 75.0, 85.0, 90.0, 70.0, 75.0, 400.0, 78.0, 'b')

In [12]:
db.execute("SELECT sn,name,total FROM student")
result = db.fetchall()
for x in result:
    print(x)

(1, 'ram', 300.0)
(2, 'Shyam', 400.0)

In [16]:
sql = '''INSERT INTO student (sn, name, physics, chemistry, math, nepali, python, total, percentage, grade) VALUES (4, 'Sita', 80, 70, 75, 90, 70, 400, 80, 'a');'''
db.execute(sql)
database.commit()

In [22]:

name = input("Enter your Name")
physics = int(input("Enter your marks = "))
chemistry = int(input("Enter your marks = "))
math = int(input("Enter your marks = "))
nepali = int(input("Enter your marks = "))
python = int(input("Enter your marks = "))

total = physics+chemistry+math+nepali+python
percentage = total/5
if percentage>80 or percentage ==80:
    grade = 'A'  
elif percentage>60 or percentage ==60:
    grade = 'B' 
elif percentage>45 or percentage ==45:
    grade = 'C'
else:
    grade = 'F'

sql = f'''INSERT INTO student (name, physics, chemistry, math, nepali, python, total, percentage, grade) VALUES ('{name}','{physics}','{chemistry}','{math}','{nepali}','{python}','{total}','{percentage}','{grade}');'''
db.execute(sql)
database.commit()

Enter your Namehari
Enter your marks = 80
Enter your marks = 80
Enter your marks = 50
Enter your marks = 75
Enter your marks = 45

In [23]:
#delete

sql = "DELETE FROM student WHERE sn = 5 "
db.execute(sql)
database.commit()

In [27]:
#update

sql ="UPDATE student SET name = 'Bijay' WHERE name = 'ram'"
db.execute(sql)
database.commit()